database.php
routes.php
core.php
idd
idd/*
prj
prj/*
app/config/database.php
app/config/bootstrap.php
app/config/core.php
app/config/*
app/files/*
app/webroot/files/*
*.tmproject
*.xcodeproject
*.csv
*.zip
*.tar.gz
*.bz2
*.rar
*.tgz
